/*
 * Base layout
*/

//
// base layout -----------------------------------------------------------------
html{
  scroll-behavior: smooth;
}

.body {
  height: auto;
  min-height: 100%;
  scroll-behavior: smooth;
  background-color: $g-page-bg;
}
