/**
 * Key
 */

 .keyboard {
  //
  // variables -----------------------------------------------------------------
  $btn-fs: 20px;
  $bth-size: 64px;

  // ---------------------------------------------------------------------------
  margin: 0;

  &__row {
    margin-top: $key-gap;
    display: flex;
    gap: $key-gap;
  }
 }
