/**
 * Key
 */

 .key {
  //
  // variables -----------------------------------------------------------------
  $btn-fs: 22px;
  $btn-round-indent: 6px;

  // ---------------------------------------------------------------------------
  margin: 0;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $key-size;
  width: $key-size;
  position: relative;
  font-size: $btn-fs;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: transparentize($g-color-white, 0.18);
  background-color: $g-color-primary;
  border: none;
  border-radius: $key-br;
  box-shadow: none;
  overflow: hidden;
  transition: background-color $g-transition-base, border-color $g-transition-base, box-shadow $g-transition-base, ;
  cursor: pointer;
  touch-action: manipulation;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:after {
    content: "";
    position: absolute;
    top: $btn-round-indent;
    bottom: $btn-round-indent;
    left: $btn-round-indent;
    right: $btn-round-indent;
    background: linear-gradient(0deg, transparentize($g-color-black, 0.75), transparentize($g-color-black, 0.9));
    border-radius: 24px;
  }

  &[disabled] {
    opacity: 0.5;
    box-shadow: none;
    pointer-events: none;
  }

  &:hover {
    color: $g-color-white;
    text-shadow: 0 0 currentColor;

    &:after {
      background: linear-gradient(180deg, transparentize($g-color-black, 0.75), transparentize($g-color-black, 0.9));
    }
  }

  &--active {
    color: $g-color-white;
    text-shadow: 0 0 currentColor;
    background-color: $g-color-primary-dark;
    box-shadow: 0 0 5px $g-color-white;

    &:after {
      background: linear-gradient(180deg, transparentize($g-color-black, 0.75), transparentize($g-color-black, 0.9));
    }
  }

  &--backspace {
    width: $key-size * 1.5;
  }

  &--tab {
    width: $key-size * 1.5;
  }

}
