//
// Global variables
//

//
// breakpoints -----------------------------------------------------------------
$g-breakpoint-xl: 1440px;
$g-breakpoint-lg: 1280px;
$g-breakpoint-md: 1024px;
$g-breakpoint-sm: 768px;
$g-breakpoint-xs: 480px;

$g-breakpoint-tablet: $g-breakpoint-md;
$g-breakpoint-mobile: $g-breakpoint-xs;

//
// palette ---------------------------------------------------------------------
$g-color-white: #ffffff;
$g-color-black: #000000;

$g-color-grey-dark-xl: #292929;
$g-color-grey-dark-l: #444444;
$g-color-grey-dark-m: #4c4c4c;
$g-color-grey-dark-s: #545454;

$g-color-grey-light-xl: #b2b2b2;
$g-color-grey-light-l: #cdcdcd;
$g-color-grey-light-m: #fafafa;
$g-color-grey-light-s: #f6f6f6;


$g-color-primary: #f1cdb3;
$g-color-primary-light: #fddcc4;

$g-color-danger: #d86369;

//
// base text -------------------------------------------------------------------
$g-text-font: Arial, Helvetica, sans-serif;
$g-text-fs: 18px;
$g-text-lh: 1;

//
// layout ----------------------------------------------------------------------
$g-page-bg: $g-color-white;

$g-page-container-desktop: 1260px;
$g-page-gutter: 30px;
$g-page-gutter-mobile: 10px;

$g-header-h: 120px;
$g-header-h-tablet: 90px;
//
//$g-footer-h-: 70px;

$g-control-h: 52px;
$g-control-gutter: 42px;

//
// key -------------------------------------------------------------------------
$key-size: 64px;
$key-size-tablet: 48px;

$key-gap: 8px;
$key-gap-tablet: 4px;

$key-br: 8px;

//
// effects ---------------------------------------------------------------------
$g-transition-base: 0.25s ease-in-out;
